<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="card">
      <div class="card-header">
        <action-bar [disabled]="isDisabled(tree)" (update)="updateClicked($event)" (add)="addNode($event)" (delete)="deleteNode($event)"></action-bar>
      </div>
      <div class="card-block">
        <tree-root #tree [nodes]="nodes" (click)="updateSelection(tree.treeModel.activeNodes)"></tree-root>
      </div>
      <clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="true" [clrModalSize]="sm">
        <h3 class="modal-title">Enter a new name:</h3>
        <div class="modal-body">
          <input #newName type="text" size="70" placeholder="Name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="updateNode(newName.value)">
            OK
          </button>
        </div>
      </clr-modal>
      <!--<dialog [opened]="opened" (updated)="updateNode($event)"></dialog>-->
    </div>
  </div>
</div>